body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: #1d70b8;
}

.section1 {
    background: #f3f2f1;
    display: flex;
}

.search {
    margin: 0px 35px;
}

.homepage-services-and-info__list {
    display: grid;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}